$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/******************
 * variables
 *****************/
$black-border: 5px solid black;

/******************
 *   styles
 ******************/
body{
  // background-color: orange;
}
.main-template{
  
  height: 100%;
  .left-sidebar{
    padding: 1px;
    border-right: $black-border;
    .searchbar{
      height: 80px;
      padding: 10px;
      border-bottom: $black-border;
      input{
        
      }
    }
  }
}
