$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/******************
 * variables
 *****************/
$black-border: 5px solid black;

/******************
 *   styles
 ******************/
body{
  .container{
    
  }
  
}

.main-template{
  display: block;  
  
  .left-sidebar{
    padding: 1px;
    min-height: 1000px;
    
    ul{
      max-width: 100%
    }
    .searchbar{
      height: 80px;
      padding: 10px;
      border-bottom: $black-border;
      input{
        
      }
    }
    .rss-item{
      max-width: 300px;
      h5{
        max-width: 200px;
        overflow: hidden;
      }
      .glyphicon{
        margin: 15px;
      }
    }
    .rss-item .activeFeed{
      background: grey;
    }
  }
  .right-side{
    border-left: $black-border;
    min-height: 1000px;
    .panel{
      padding: 15px;
    }
  }
  .feeds-container{
    padding: 10px;
  }
}
