<!-- main app template -->

<div class="main-template">
	<div class="col-lg-3 col-md-4 left-sidebar">
		<nav class="searchbar">
			<form ng-submit="getFeed()">
				<div class="input-group navbar-form navbar-center">
				<input class="form-control" placeholder="Type a URL" ng-model="form.search" type="text"/>
				<button class="btn btn-primary btn-large" type="submit">
					<span class="glyphicon glyphicon-search"></span>
				</button>
				</div>
			</form>
		</nav>
		
		<div class="container">
			<div class="btn-group-vertical">
				<div ng-repeat="item in feeds" ng-click="selectFeed(item)" rss-item class="btn btn-large rss-item" >
							
				</div>
			</div>
			
		</div>
	</div>
	<div class="col-lg-9 col-md-8 right-side">
		<header>
			<h1>{{selected.feedUrl}}</h1>
		</header>
		<div class="content">
			<div feed-item ng-repeat="item in selected.entries"></div>
		</div>
	</div>
</div>